<div class="container">

<div class="row">

<div class="twelve columns">

<ul class="navbar">
                <li class="navbar"><a href="#/">MSC</a>
                </li>
                <li class="navbar"><a href="#/contact">Contact</a>
                </li>
                <li class="navbar"><a href="#/about">About</a>
                </li>
                <li class="navbar"><a href="#/resume">Resume</a>
                </li>
                <li class="navbar"><a href="#/blog">Blog</a>
                </li>
            </ul>

</div>
</div>
</div>
<hr />